* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* TESTA DELLA PAGINA, LA PARTE ALTA */

section {
    color: #33475b
}

/* BARRA FIXED DI TUTTA LA PAGINA */

.container {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.barra-fixed {
    height: 72px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 0;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    z-index: 99999;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

.sinistra-fixed {
    position: absolute;
    top: 50%;
    margin: 0 300px;
    vertical-align: middle;
    transform: translateY(-50%);
}

.mappamondo-fixed {
    height: 24.3333px;
    width: 16px;
    margin-right: 10px;
    background-image: url('https://cdn2.hubspot.net/hubfs/53/Logos/language-switcher-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin: auto 0;
}

.mappamondo-fixed-english {
    height: 24px;
    width: 50px;
    margin-left: 30px;
    float: left;
}

i {
    color: #7c98b6;
}

.sinistra-fixed i {
    height: 15px;
    width: 15px;
    font-size: 15px;
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}

.contatti-fixed {
    height: 24px;
    width: 90px;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    border-left: 2px solid #cbd6e2;
}

.destra-fixed {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0 300px;
    vertical-align: middle;
    transform: translateY(-50%);
    font-size: 18px;
}

.cerca-fixed {
    height: 15px;
    width: 20px;
    float: left;
}

.cerca-fixed i {
    color: #00a4bd;
    font-size: 16px;
    padding-top: 10px;
}

.login-fixed {
    float: left;
}

.login-login-fixed {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 9px 16px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.free-fixed {
    float: left;
}

.login-free-fixed {
    border: 1px solid #ff7a59;
    color: #ffffff;
    padding: 8px 16px;
    background-color: #ff7a59;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 1px;
    border-radius: 5%;
}

/* FINE BARRA FIXED */

/* INIZIO BARRA DI NAVIGAZIONE */

.scomparsa {
    width: 100%;
    position: relative;
    top: 0;
    height: 72px;
}

.navbar {
    position: relative;
    transform: translateY(25%);
    height: 82px;
    margin: 0 300px;
    background-color: #ffffff;
}

.logo-navbar {
    height: 100%;
    width: 106px;
    background-image: url('https://www.hubspot.com/hubfs/HubSpot_Logos/HSLogo_color.svg');
    background-repeat: no-repeat;
    float: left;
}

.destra-navbar {
    height: 100%;
    float: right;
    color: #33475b;
}

.lista-navbar li{
    display: inline;
    margin-right: 20px;
}

.lista-navbar li i {
    margin-left: 10px;
}

/* FINE BARRA DI NAVIGAZIONE */

/* INIZIO BARRA DI "LEARN MORE" */

.learn-more {
    position: relative;
    height: 92px;
    width: 100%;
    padding: 20px 0;
    background-color: #425b76;
}

.sinistra-learn-more {
    height: 100%;
    width: 60%;
    float: left;
    color: white;
    margin-left: 340px;
}

.sinistra-learn-more p {
    font-size: 16px;
}

.destra-learn-more {
    height: 100%;
    float: right;
    color: #425b76;
    margin-right: 300px;
}

.destra-learn-more-btn {
    background-color: white;
    border-radius: 5%;
    padding: 12px 24px;
    border: none;
    transform: translateY(25%);
}

/* FINE BARRA DI "LEARN MORE" */

/* INIZIO HEADER, CORPO PRINCIPALE INTESTAZIONE */

.container-header {
    height: 750px;
    position: relative;
    background-color: #fff2ee;
    background-image: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg');
}

.sinistra-header {
    height: 60%;
    width: 25%;
    position: absolute;
    top: 20%;
    float: left;
    margin-left: 300px;
}

.titolo-header {
    height: 35%;
    width: 100%;
}

.titolo-header h1 {
    font-weight: 700;
    line-height: 65px;
    font-size: 55px;
}

.paragrafo-header {
    height: 25%;
    width: 100%;
}

.paragrafo-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0 0 0;
}

.free-header {
    height: 20%;
    width: 50%;
}

.free-header button {
    border: none;
    color: #ffffff;
    padding: 26px 48px;
    background-color: #ff7a59;
    border-radius: 5%;
    font-size: 16px;
    font-weight: 600;
}

.minimized-header {
    height: 20%;
    width: 40%;
}

.minimized-header p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.sfondo-verde {
    position: relative;
    height: 184px;
    background-image: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/Tablet-Grass-with-Stroke.svg');
    background-size: cover;
    border-bottom: 5px solid #2d3e50;
}

/* FINE DELLA PRIMA SEZIONE */

/* INIZIO DELLA SECONDA SEZIONE */

.main-body {
    background-color: #f5f8fa;
}

.corpo-centrale {
    height: 1521px;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.testa-corpo-centrale {
    height: 466px;
    width: 70%;
    margin: 0 auto;
    padding: 100px 70px 50px 0;
    text-align: center;
    color: rgb(51, 71, 91);
}

.testa-corpo-centrale img {
    max-width: 260px;
}

.testa-corpo-centrale h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.testa-corpo-centrale p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.schede-corpo-centrale {
    height: 943px;
    width: 80%;
    margin: 0 auto 112px auto;
}

.prima-scheda-corpo-centrale {
    width: 973px;
    height:286px;
    position: relative;
    text-align: center;
    color: #33475b;
    background-color: white;
    padding: 32px;
}

.prima-scheda-corpo-centrale-sinistra {
    float: left;
    height: 222px;
    width: 317px;
    padding: 0 9%;
}

.centrale-sinistra-btn {
    margin-top: 50px;
    border: none;
    color: #ffffff;
    padding: 12px 24px;
    background-color: #ff7a59;
    border-radius: 5%;
    font-size: 16px;
    font-weight: 600;
}

.prima-scheda-corpo-centrale-destra {
    height: 222px;
    text-align: left;
    color: rgb(51, 71, 91);
}

.prima-scheda-corpo-centrale-destra h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin: 11px 0;
}

.prima-scheda-corpo-centrale-destra p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.75px;
    margin: 14px 0;
}

.prima-scheda-corpo-centrale-destra h4 {
    font-size: 13px;
    font-weight: 600;
    line-height: 22.75px;
    margin:26px 0 15px 0;
}

.prima-scheda-corpo-centrale-destra ul {
    list-style: none;
}

.prima-scheda-corpo-centrale-destra li {
    margin: 0 20px;
    float: left;
}

.prima-scheda-corpo-centrale-destra li::before {
    background: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg') no-repeat;
    content: '';
    width: 18px;
    height: 18px;
    float: left;
    margin: 3px;
}
