* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* TESTA DELLA PAGINA, LA PARTE ALTA */

section {
    color: #33475b
}

/* BARRA FIXED DI TUTTA LA PAGINA */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.barra-fixed {
    height: 72px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 0;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    z-index: 99999;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

.sinistra-fixed {
    position: absolute;
    top: 50%;
    margin: 0 200px;
    vertical-align: middle;
    transform: translateY(-50%);
}

.mappamondo-fixed {
    height: 24.3333px;
    width: 16px;
    margin-right: 10px;
    background-image: url('https://cdn2.hubspot.net/hubfs/53/Logos/language-switcher-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin: auto 0;
}

.mappamondo-fixed-english {
    height: 24px;
    width: 50px;
    margin-left: 30px;
    float: left;
}

.sinistra-fixed i {
    height: 15px;
    width: 15px;
    font-size: 15px;
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}

.contatti-fixed {
    height: 24px;
    width: 90px;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    border-left: 2px solid #cbd6e2;
}

.destra-fixed {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0 200px;
    vertical-align: middle;
    transform: translateY(-50%);
    font-size: 18px;
}

.cerca-fixed {
    height: 15px;
    width: 20px;
    float: left;
}

.cerca-fixed i {
    color: #00a4bd;
    font-size: 16px;
    padding-top: 10px;
}

.login-fixed {
    float: left;
}

.login-login-fixed {
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 9px 16px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.free-fixed {
    float: left;
}

.login-free-fixed {
    border: 1px solid #ff7a59;
    color: #ffffff;
    padding: 8px 16px;
    background-color: #ff7a59;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 1px;
    border-radius: 5%;
}












.scomparsa {
    width: 100%;
    position: relative;
    top: 0;
    height: 72px;
}

.navbar {
    position: relative;
    height: 82px;
    padding: 12px 0;
    background-color: #ffffff;
}

.learn-more {
    position: relative;
    height: 92px;
    padding: 20px 0;
    background-color: #425b76;
}

.container-header {
    height: 750px;
    position: relative;
    background-color: #fff2ee;
    background-image: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg');
}

.sfondo-verde {
    position: relative;
    height: 184px;
    background-image: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/Tablet-Grass-with-Stroke.svg');
    background-size: cover;
    border-bottom: 5px solid #2d3e50;
}
